ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1976d2;
}
li {
  list-style-type: none;
}
li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0b3661;
}

.dashboard {
  float: left;
}
.jokes {
  float: left;
}
.logout {
  float: right;
}
